# Only for Docker Deployment

BOT_TOKEN=7203229265:AAE28YOfCAzCg2LCs8wBvStIGJthpRIY9LQ # Get it from @botfather

API_ID=28298365

API_HASH=9647ab7fc03a8a93f701a5528b2f206e

SUDO_USERS_ID= 1432756163, 1344569458, 1355478165, 1789859817,  1777340882,# Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1002239117016

GBAN_LOG_GROUP_ID=-1002239117016

MESSAGE_DUMP_CHAT=-1002239117016

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=mongodb+srv://Dark123:Dark123@cluster0.jsapbqx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

LOG_MENTIONS=0 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

